@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --black: #272d3b;
    --red:#ed176f;
    --coral:#f7817f;
    --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: var(--red);
    color: white;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--black);
    z-index: 1000;
    padding: 2rem 9%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section{
    padding: 3rem 9%;
}
.btn{
    display: inline-block;
    padding: .7rem 3rem;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--gradient);
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    transform: scale(1.1);
}
.logo{
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
}
.navbar a{
    color: white;
    font-size: 2rem;
    margin-left: 2.5rem;
}
.navbar a:hover{
    color: var(--red);
    font-weight: bold;
}
#menu-bar{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}
/* body{
    min-height: 2500px;
} */

.home{
    background: url('images/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}
.home .content{
    padding-top: 5rem;
    width: 70rem;
    margin: 0 auto;
}

.home .content h3{
    font-size: 6.5rem;
    color: white;
}

.home .content p{
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
}





























/* media quries */
/* max-width:991px */
@media (max-width:900px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem 4%;
    }
}

/* max-width:786px */
@media (max-width:700px){ 
    #menu-bar{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: var(--black);
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar.nav-toggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background: var(--gradient);
        text-align: center;
        border-radius: .5rem;
    }
    .navbar a:hover{
        color: var(--black);
    }
    .fa-times{
        transform: rotate(180deg);
    }
}

@media (max-width:400px){
    html{
        font-size: 50%;
    }
}